.about-laminex{
    .section-wrapper{
        margin-bottom: 32px;
    }
    .section-intro-headding {
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
    }

    @media screen and (min-width: 960px) {
        margin-bottom: 32px;
    }
}
.section-intro-description {
    margin-bottom: 0;
}
}


.vertical-scroll {
    .vertical-scroll-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        scroll-behavior: smooth;

        .vertical-scroll-body {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 75%;
            flex: 0 0 75%;
            max-width: 75%;
            margin: 0 auto;
            -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
            order: 1;

            @media screen and (min-width: 768px) {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                -webkit-box-ordinal-group: 1;
                -ms-flex-order: 0;
                order: 0
            }
        }

        .vertical-scroll-bodyinner {
            text-align: center;

            @media screen and (min-width: 768px) {
                max-width: 22.5rem;
                text-align: left;
            }

            @media screen and (min-width: 960px) {
                max-width: 22.5rem;
            }

            @media screen and (min-width: 1440px) {
                max-width: 35.3125rem;
                padding-right: 0
            }
        }

        .vertical-scroll-item {
            background: #fff;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            overflow: hidden;

            @media screen and (min-width: 768px) {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                -ms-flex-negative: 0;
                flex-shrink: 0;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                width: 100%;
                margin: 1.875rem 0;
                &:nth-child(even) {
                    .vertical-scroll-body {
                        -webkit-box-ordinal-group: 2;
                        -ms-flex-order: 1;
                        order: 1
                    }
                }
            }
        }

        .vertical-scroll-media {
            @media screen and (min-width: 768px) {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
            }

            @media screen and (min-width: 960px) {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 44%;
                flex: 0 0 44%;
                max-height: 46.25rem;
            }

            @media screen and (min-width: 1440px) {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 38%;
                flex: 0 0 38%;
                max-height: 65rem;
            }
        }

        p {
            margin-bottom: 24px;

            @media screen and (min-width: 768px) {
                margin-bottom: 48px;
            }

            @media screen and (min-width: 960px) {
                margin-bottom: 96px;
            }
        }
    }
}
