.accordion-wrapper {
  .accordion-item {
    border-top: 1px solid $accordion-border-color;

    &:last-child {
      border-bottom: 1px solid $accordion-border-color;
    }

    &.active {
      background-color: $accordion-active-bg-color;
      .accordion-trigger {
        &:after {
          content: "\e01e";
        }

        &:hover {
          &:after {
            content: "\e01d";
            color: $accordion-text-color;
          }
        }
      }
    }

    @media screen and (min-width: 768px) {
      border-top-width: 2px;

      &:last-child {
        border-bottom-width: 2px;
      }
    }
  }

  .accordion-title {
    font-size: 0.875rem;
    font-weight: bold;
    color: $text-color;
    line-height: 1.4;
    padding: 1.25rem 4.0625rem 1.25rem 1.25rem;

    h6 {
      margin: 0;
    }

    &.accordion-trigger {
      border: none;
      color: inherit !important;
      position: relative;
      cursor: pointer;
      -webkit-appearance: none;

      &:after {
        content: "\e024";
        display: block;
        position: absolute;
        top: 0;
        right: 1.25rem;
        bottom: 0;
        height: 1.375rem;
        font-size: 1.375rem;
        margin: auto;
        color: lighten($text-color, 10%);
        font-family: "font-icons-new" !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      // &:not(.collapsed) {
      //   &:after {
      //     content: "\e01e";
      //   }
      // }

      &:hover {
        &:after {
          content: "\e023";
          color: $accordion-text-color;
        }

        // &:not(.collapsed) {
        //   &:after {
        //     content: "\e01d";
        //     color: $accordion-text-color;
        //   }
        // }
      }
    }

    @media screen and (min-width: 768px) {
      padding: 1.875rem 4.0625rem 1.875rem 1.25rem;

      &.accordion-trigger {
        &:after {
          height: 2rem;
          font-size: 2rem;
        }
      }
    }
  }

  .accordion-content {
    margin: 0;
    padding: 0.9375rem 1.25rem 0.9375rem;
    color: $accordion-text-color;

    @media screen and (min-width: 768px) {
      margin: 0;
      padding: 2rem 1.25rem 1.25rem;
    }

    p {
      font-size: 0.875rem;
      line-height: 1.5rem;
      font-weight: 300;
      margin-bottom: 1.5rem;
    }

    ol {
      list-style-type: lower-alpha !important;
      list-style: initial;
      margin-left: 1.25rem;
      margin-bottom: 0;
      padding: 0;

      li {
        margin-bottom: 0.5rem;
        line-height: 1.5rem;
      }
    }

    a {
      color: $link-color-new;
      border-bottom: 1px dotted $link-color-new;
      background-color: transparent;
      padding-bottom: 0.25rem;
    }
  }

  .custom-accordion-content {
    display: none;
  }
}

.hero-banner-internal-header {
  padding: 1.25rem 44px;

  h3 {
    font-size: 1.3125rem;
    line-height: 2rem;
    letter-spacing: -0.5px;
    font-weight: bold;
  }

  @media screen and (min-width: 768px) {
    padding: 64px 2rem;

    h3 {
      font-size: 2.25rem;
      line-height: 2.625rem;
      letter-spacing: -1px;
      font-weight: bold;
    }
  }
  @media screen and (min-width: 960px) {
    padding: 82px 4rem;

    h3 {
      font-size: 3rem;
      line-height: 3.5rem;
      letter-spacing: -1px;
      font-weight: bold;
    }
  }
}

.section-intro-heading {
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 960px) {
    margin-bottom: 32px;
  }
}

.section-intro-description {
  p {
    color: $section-intro-description-text-color;
    font-size: 0.875rem;
    line-height: 1.7142857143;

    &:only-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
      font-size: 1rem;
      line-height: 1.75;
    }
    @media screen and (min-width: 960px) {
      font-size: 1.125rem;
      line-height: 1.7777777778;
    }
  }
}

.tab-accordion-nav {
  .tab-nav-link,
  .nav-item.show .tab-nav-link,
  .tab-nav-link.active {
    border: none;
  }

  .nav-item {
    margin-bottom: 0;

    + .nav-item {
      margin-left: 0;
    }
  }

  .tab-nav-link {
    cursor: pointer;
    margin: 0 1rem;
    padding: 0.625rem 0;
    display: block;

    h5 {
      margin-bottom: 0;
      text-decoration: none;
    }
  }

  .nav-item {
    &:first-child {
      .tab-nav-link {
        margin-left: 0;
      }
    }
    &:last-child {
      .tab-nav-link {
        margin-right: 0;
      }
    }
  }

  .nav-item.show .tab-nav-link,
  .tab-nav-link.active,
  .tab-nav-link:hover {
    box-shadow: inset 0 -2px 0 $link-color-new;
  }
}

.tab-accordion-content {
  margin-top: 0;

  .accordion-trigger {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #f4efea;
    border: 1px solid #d5d5d5;
    border-left-width: 0;
    border-right-width: 0;
    cursor: pointer;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: relative;
    -webkit-appearance: none;

    .tab-accordion-collapse-icon {
      font-size: 0.625rem;
      position: absolute;
      right: 20px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      line-height: 0.5;
    }

    .icon--chevron-small-up {
      display: block;
    }
    .icon--chevron-small-down {
      display: none;
    }

    &.collapsed {
      background-color: #fff;
      border-bottom-color: transparent;
      .icon--chevron-small-up {
        display: none;
      }
      .icon--chevron-small-down {
        display: block;
      }
    }
  }

  .accordion-content {
    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  @media screen and (max-width: 960px) and (min-width: 768px) {
    &.tab-content {
      > .tab-pane {
        display: none !important;
        opacity: 0 !important;

        &.active {
          display: block !important;
        }

        &.fade.show {
          opacity: 1 !important;
        }
      }
    }
  }
}

.tab-accordion-body {
  padding-bottom: 32px;
  padding-top: 32px;

  @media screen and (min-width: 768px) {
    padding-top: 44px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 960px) {
    padding-top: 57.6px;
    padding-bottom: 32px;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .swatch-tiles {
    > .row {
      @media screen and (min-width: 768px) {
        margin-bottom: 22.4px;
      }
      @media screen and (min-width: 960px) {
        margin-bottom: 44.8px;
      }
    }
  }
}

.tab-accordion {
  @media screen and (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @media screen and (min-width: 960px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
