.btn-link-forward {
  font-weight: bold;
  line-height: 1.43;
  padding: 0;
  width: auto;
  position: relative;
  border-bottom: 2px solid transparent;
  border-radius: 0;

  &:after {
    content: "\E002";
    font-family: "font-icons" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    transition: right 0.25s, left 0.25s;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -1.375rem;
  }

  &:hover {
    border-bottom-width: 2px;
    &::after {
      right: -1.625rem;
    }
      &.btn-link-backward:hover{
          &::after {
          left: -1.625rem;
        }

      }
  }
    &.btn-link-backward{
        margin-left: 1.25rem;
        &:after{
            content: "\E003";
            left: -1.375rem;
            right: auto;
        }
    }
}

.back-btn {
  .txt {
    font-weight: bold;
    font-size: 14px;
    &:before {
      float: left;
      padding: 4px 9px 0 0;
    }
  }
}
.btn-primary{
    &.green:hover{
    background-color: #507035;
    border-color: #5c7561;
}
}
