.custom-popup {
  .modal-body {
    padding: 0;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    background-color: $link-color-new;
    color: #fff;
    width: 38px;
    height: 38px;
    line-height: 38px;
    vertical-align: middle;
    font-size: 1.125rem;
    z-index: 9;
    outline: 0 none;
    opacity: 1;

    > i {
      line-height: 1.125rem;
      height: 1.125rem;
      vertical-align: middle;
      display: inline-block;
    }
  }
}

.popup-card {
  color: $secondary-text-color;

  .card-stacked {
    .title {
      font-family: "Brown Std New", sans-serif;
      font-weight: bold;
    }

    .card-action {
      @extend %card-action;

      a {
        font-size: 1rem;
        line-height: normal;
      }
    }
  }

  &.banner {
    position: relative;

    .card-stacked {
      position: absolute;
      left: 45px;
      right: 45px;
      bottom: 40px;

      .title {
        background-color: #fff;
        line-height: 1.3;
        font-size: 3.75rem;
        padding: 5px 25px;
      }
    }
  }

  &.caption {
    .card-stacked {
      padding: 55px 35px 35px;
      text-align: center;

      .card-stacked-content {
        .card-content {
          margin-bottom: 35px;
        }
      }

      .title {
        font-size: 1.75rem;
        line-height: 1.21;
        letter-spacing: -0.5px;
        margin-bottom: 20px;
      }

      p {
        font-size: 0.875rem;
        line-height: 1.79;
        font-weight: 300;
      }
    }
  }
}
