.row {
  margin-right: -4px !important;
  margin-left: -4px !important;

  > .span12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 0 !important;
  }

  @media screen and (min-width: 768px) {
    margin-right: -8px !important;
    margin-left: -8px !important;
    > .span12 {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  @media screen and (min-width: 960px) {
    margin-right: -16px !important;
    margin-left: -16px !important;
    > .span12 {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.custom-form-wrapper {
  .orbeon {
    .fr-grid,
    .fr-grid-body,
    .fr-grid-tr,
    .fr-grid-td {
      display: block !important;
      height: auto !important;
    }

    .xbl-fr-grid {
      .fr-grid {
        &:not(.fr-grid-css) {
          .fr-grid-body {
            .fr-grid-td {
              padding: 0;
              margin: 0;
              margin-bottom: 3rem;

              .xforms-control,
              .xbl-component,
              .xforms-group {
                padding: 0;
                margin: 0;
              }
            }
          }
        }
      }
    }

    // .fr-section-title {
    //   margin-bottom: 3rem;
    // }

    .fr-mode-new,
    .fr-mode-edit,
    .fr-mode-test,
    .xforms-dialog {
      .xforms-required {
        &.xforms,
        .xforms-label {
          &:before {
            display: none !important;
          }
        }
      }
    }

    .fr-grid-td {
      margin-bottom: 3rem;
      position: relative;

      .xforms-label {
        display: block;
        margin-bottom: 0.3125rem;
        text-transform: uppercase;
        font-size: 0.75rem;
        line-height: 1rem;
        letter-spacing: 1.4px;
        font-family: "Brown Std New", sans-serif;
        font-weight: bold;
        margin-top: 0;
        color: $text-color;
      }

      .xforms-input-input,
      select,
      textarea,
      input[type="text"] {
        font-size: 0.8125rem;
        font-weight: 500;
        line-height: 1.8461538462;
        letter-spacing: 1.3px;
        display: block;
        min-height: 3.125rem;
        width: 100%;
        padding: 0.6875rem 0.9375rem;
        color: $secondary-text-color;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #dbd8d5;
        border-radius: 0.1875rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &:focus {
          border-color: $link-color-new !important;
        }
      }

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHRpdGxlPmNoZXZyb24tc21hbGwtZG93bjwvdGl0bGU+PHBhdGggc3R5bGU9ImZpbGw6IzVmNjI2MzsiIGQ9Ik0xNiwyNC4zN2EyLjgyLDIuODIsMCwwLDEtMi0uODJMMi44MiwxMi40MmEyLjgxLDIuODEsMCwwLDEsNC00TDE2LDE3LjU5bDkuMjQtOS4xNGEyLjgxLDIuODEsMCwxLDEsNCw0TDE4LDIzLjU1QTIuODQsMi44NCwwLDAsMSwxNiwyNC4zN1oiLz48L3N2Zz4K);
        background-origin: content-box;
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 0.5625rem 0.5625rem;

        option {
          color: $secondary-color;
          font-size: 1rem;
        }
      }

      .xforms-alert {
        color: $danger-color !important;
        font-size: 0.625rem !important;
        font-weight: 500 !important;
        letter-spacing: 0.5px;
        line-height: 1.2;
        margin: 5px 0 0 !important;
      }
    }

    .xbl-fr-grid {
      .xbl-component {
        .input-prepend,
        .input-append {
          display: block;
          position: relative;

          input[type="text"] {
            width: 100%;
          }

          > .add-on {
            position: absolute;
            height: 3.125rem;
            line-height: 3.125rem;
            vertical-align: middle;
            top: 0;
            width: 40px;
            text-align: center;
          }
        }

        .input-append {
          input[type="text"] {
            padding-right: 50px;
          }
          > .add-on {
            right: 0;
          }
        }
        .input-prepend {
          input[type="text"] {
            padding-left: 50px;
          }
          > .add-on {
            left: 0;
          }
        }
      }
    }

    .fr-buttons {
      margin-top: 3rem;
      display: block;

      .xforms-trigger {
        .btn {
          width: 100%;
          cursor: pointer;
          color: #fff !important;
          background: $secondary-text-color !important;
          border: 1px solid $secondary-text-color !important;
          margin-left: 0;
          padding: 0.813rem 2.7578rem;
          border-radius: 0;
          font-family: "Brown Std New";
          font-size: 0.875rem;
          line-height: 1.25rem;

          &:hover {
            color: #fff !important;
            background-color: $link-color-new !important;
            border-color: $link-color-new !important;
          }

          &:active {
            color: #fff !important;
            background-color: darken($secondary-text-color, 10%) !important;
            border-color: darken($secondary-text-color, 12.5%) !important;
          }

          &:focus {
            box-shadow: 0 0 0 0 rgba($secondary-text-color, 0.5);
          }
        }
      }
    }

    .alert {
      &.xforms-group {
        display: none;
      }
    }

    .xbl-fr-section {
      .fr-section-content {
        padding: 0;
      }
    }

    .navbar,
    .xforms-template,
    .xforms-help-panel,
    .xbl-fr-error-summary,
    .xforms-disabled,
    .fr-section-title,
    .xforms-hidden {
      display: none;
    }

    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .fr-border {
      border: none;
      background: transparent;
      margin: 0;
    }

    .xbl-fr-section {
      background: transparent;
    }

    .xforms-invalid {
      > .xforms-alert.xforms-active {
        background: transparent;
        border: none;

        &:before {
          display: none;
        }
      }
    }

    a {
      color: $link-color-new;
      border-bottom: 1px dotted $link-color-new;
    }

    .form-privacy-policy {
      margin-top: -3rem;
      lable,
      span {
        font-family: "Maison Neue", sans-serif;
        font-size: 1rem;
        font-weight: 100;
        color: $secondary-text-color;
      }
    }

    .form-signup-option {
      label {
        margin-bottom: 0.3125rem;
      }

      lable,
      span {
        font-family: "Brown Std New", sans-serif;
        font-size: 0.75rem;
        line-height: 1rem;
        letter-spacing: 1.4px;
        font-weight: bold;
        color: $text-color;
        text-transform: uppercase;
      }
    }
  }
}
