.footer-container {
  .footer-bottom-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer-top {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.footer-bottom-wrapper {
  background-color: $footer-bottom-bg-color;

  .footer-nav-wrapper,
  .footer-social-icons-wrapper {
    ul {
      margin-bottom: 0;
    }
  }

  .footer-nav-wrapper {
    margin-left: $footer-nav-left-spacing;
    ul {
      li {
        margin-left: 50px;
        margin-right: 0;
        line-height: 1.85;

        &:first-child {
          margin-left: 0;
        }

        a {
          color: $search-result-text-color;
          font-size: 0.8125rem;
          font-weight: 500;

          &:hover {
            color: $link-color-new;
          }
        }
      }
    }
  }

  .list-inline {
    margin-bottom: 0;
  }

  .footer-copyrights {
    margin-left: $footer-copyrights-left-spacing;
    p {
      margin-bottom: 0;
      color: $secondary-color;
      font-size: 0.8125rem;
      font-weight: 500;
      line-height: 1.85;
    }

    @media screen and (max-width: 767px) {
      -ms-flex-order: 2;
      order: 2;
    }
  }

  .footer-bottom-container {
    position: relative;
  }

  .footer-logo-nav-wrapper {
    .footer-logo-wrapper {
      img {
        opacity: 0.5;
        width: $footer-logo-width;

        .footer-container-nz & {
          width: 175px;
        }
      }
    }
    @media screen and (max-width: 1024px) {
      -ms-flex-order: 1;
      order: 1;
      -ms-flex-pack: justify;
      justify-content: space-between;

      .footer-logo-wrapper {
        position: absolute;
        top: 7px;
        left: auto;

        .footer-container-nz & {
          top: 0;
          left: 0;
          right: 0;
          text-align: center;
          width: 100%;
        }
      }

      .footer-copyrights {
        margin-left: $footer-mobile-copyrights-left-spacing;

        .footer-container-nz & {
          -ms-flex-order: 2;
          order: 2;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%;
          text-align: center;
          margin-left: 0;
        }
      }

      .footer-nav-wrapper {
        ul {
          li {
            margin-left: 35px;
          }
        }
      }
    }

    @media screen and (max-width: 767px) {
      .footer-nav-wrapper {
        -ms-flex-order: 1;
        order: 1;
        ul {
          li {
            margin-left: 0;

            &:not(:last-child) {
              margin-right: 18px;
            }
          }
        }
      }
      .footer-copyrights {
        .footer-container-nz & {
          text-align: left;
        }
      }
    }
  }

  .footer-social-icons-wrapper {
    ul {
      li {
        &:not(:last-child) {
          margin-right: $footer-social-icon-spacing;

          // @media screen and (max-width: 1210px) {
          //   margin-right: 0;
          // }
        }
        a {
          font-size: 1.125rem;
          width: 2.5rem;
          height: 2.5rem;
          border: solid 1px $footer-social-icon-border-color;
          border-radius: 50%;
          text-align: center;
          display: inline-block;
          line-height: 2.5rem;
          display: inline-block;
          line-height: 2.5rem;
          padding-top: 4px;
          color: $footer-social-icon-hover-bg-color;

          &:hover {
            border: solid 1px $footer-social-icon-hover-bg-color;
            background: $footer-social-icon-hover-bg-color;
            color: #fff;
          }
        }
      }
    }

    @media screen and (max-width: 1024px) {
      -ms-flex-order: 0;
      order: 0;
      text-align: right;
      border-bottom: 1px solid $accordion-border-color;
      padding-bottom: 20px;
      margin-bottom: 15px;

      .footer-container-nz & {
        text-align: center;
        border-bottom: none;
        margin-bottom: 0;
        padding-top: 70px;
      }
    }
    @media screen and (max-width: 767px) {
      text-align: left;

      .footer-container-nz & {
        text-align: left;
        padding-top: 0;
      }
    }
  }

  .footer-logo-nav-wrapper,
  .footer-social-icons-wrapper {
    @media screen and (max-width: 1024px) {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  @media screen and (max-width: 1210px) {
    .footer-copyrights,
    .footer-nav-wrapper {
      margin-left: $footer-mobile-nav-left-spacing;
    }

    .footer-nav-wrapper {
      ul {
        li {
          margin-left: 10px;
        }
      }
    }
  }

  @media screen and (max-width: 1210px) {
    .footer-nav-wrapper {
      margin-left: $footer-mobile-nav-left-spacing;
    }
  }
  @media screen and (max-width: 1024px) {
    .footer-nav-wrapper {
      .footer-container-nz & {
        -ms-flex-order: 1;
        order: 1;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 10px;
        margin-left: 0;
        ul {
          li {
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .footer-nav-wrapper {
      .footer-container-nz & {
        text-align: left;
      }
    }
  }
}

.footer-top-wrapper {
  background-color: $footer-top-bg-color;
  padding-top: $footer-top-top-padding;
  padding-bottom: $footer-top-bottom-padding;

  .col-title {
    h5,
    h4 {
      text-decoration: none;
      line-height: 1.33;
      letter-spacing: -0.3px;
      color: $secondary-text-color;
      margin-bottom: 0;

      @media screen and (min-width: 768px) {
        margin-bottom: 12px;
      }

      img {
        width: 32px;
        margin-bottom: 10px;
        display: inline-block;
      }

      a {
        position: relative;
        i {
          position: absolute;
          right: 0;
          top: 5px;
          font-size: 9px;
          color: $footer-mobile-arrow-color;
          line-height: 1;
        }

        &:not(.collapsed) {
          i {
            color: #906549;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  .col-links {
    ul {
      li {
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 2;

        a {
          color: $anchor-color;
        }
      }
    }

    @media screen and (min-width: 768px) {
      display: block !important;
    }
    @media screen and (max-width: 767px) {
      ul {
        margin-bottom: 0;
        margin-top: 1rem;
      }
    }
  }

  .col {
    @media screen and (max-width: 960px) {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
    }
    @media screen and (max-width: 767px) {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      border-top: 1px solid $accordion-border-color;
    }
  }

  .footer-logo-wrapper {
    @media screen and (max-width: 767px) {
      padding-top: 0;
      border-top: none;
      img {
        width: 120px;
        opacity: 0.5;
      }
    }
  }
}
