.section-wrapper {
  margin-bottom: 20px;
  color: $secondary-text-color;
  clear: both;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 960px) {
    margin-bottom: 80px;
  }

  &.section {
    padding: 0 !important;
  }

  h5,
  .h5 {
    text-decoration: none;
  }
}

.home-hr {
  padding-bottom: 20px;
  margin-bottom: 0;
  width: 100%;

  .laminex-rich-text-component & {
    border-top: 2px solid $accordion-border-color;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: 960px) {
    padding-bottom: 80px;
  }
}

.get-inspired-blog-wrapper {
  clear: both;
}
.get-inspired-blog-content-wrapper {
  .posted-on {
    font-size: 12px;
    line-height: 1.33;
    font-weight: bold;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-family: "Brown Std New";
  }

  .posted-by {
    font-family: "Maison Neue";
    font-size: 11px;
    font-weight: 500;
    line-height: 1.64;
    letter-spacing: 1.1px;
    color: $secondary-color;
    padding: 8px 0;
  }

  .get-inspired-blog-detail-content-wrapper {
    // margin-top: 20px;
    font-weight: 300;
    // @media screen and (min-width: 768px) {
    //   margin-top: 40px;
    // }
    // @media screen and (min-width: 960px) {
    //   margin-top: 80px;
    // }

    h5,
    .h5 {
      text-decoration: inherit;
      margin-bottom: 1rem;
    }

    h4,
    p,
    ol,
    ul {
      margin-bottom: 1.5rem;
    }

    a:not(.btn) {
      font-weight: 500;
      padding-bottom: 0.25rem;
      color: $link-color-new;
      border-bottom: 1px dotted $link-color-new;
    }

    .figure {
      .figure-img {
        margin-bottom: 8px;

        @media screen and (min-width: 768px) {
          margin-bottom: 16px;
        }
      }

      .figure-caption {
        font-style: italic;
        color: $secondary-text-color;
        font-size: 0.8125rem;
        line-height: 1.5384615385;

        @media screen and (min-width: 768px) {
          font-size: 0.875rem;
          line-height: 1.7142857143;
        }
      }
    }
  }
}

.figure-caption {
  &.has-spacing {
    margin-top: 8px;
    font-style: italic;

    @media screen and (min-width: 768px) {
      margin-top: 16px;
    }
  }
}

.get-inspired-blog-related-wrapper {
  h5,
  .h5 {
    text-decoration: inherit;
    margin-bottom: 1rem;
  }
  img {
    width: auto;
    height: auto;
  }

  .related-content-wrapper {
    margin-top: 10px;
    margin-bottom: 30px;
    color: $secondary-color;
  }

  .btn-link-forward {
    border-bottom: none !important;
  }
}

.socialSharing {
  .at-style-responsive {
    .at-share-btn {
      border: 1px solid #ccc;
    }
  }
}

.footer-top-social-share {
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.get-inspired-blog-get-look-wrapper {
  h5,
  .h5 {
    text-decoration: inherit;
    margin-bottom: 1rem;
  }
}

.main__inner-wrapper {
  clear: both;
}
