.image-slider-wrapper {
  .image-slider {
    padding-left: 0;
    padding-right: 0;

    @media screen and (min-width: 768px) {
      margin-bottom: 8px;
    }
    @media screen and (min-width: 960px) {
      margin-bottom: 16px;
    }
    .image-slider-item {
      padding: 0.625rem 0 0.9375rem;
      position: relative;
      margin: 0 0.46875rem;

      @media screen and (min-width: 960px) {
        margin: 0 0.75rem;
      }
      @media screen and (min-width: 1440px) {
        margin: 0 1rem;
      }

      .img-slider-link {
        font-weight: bold;
        line-height: 1.43;
        border-bottom: 2px solid transparent;
        margin-top: 1rem;
        display: inline-block;
        font-size: 0.875rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        vertical-align: middle;
        -webkit-transition: color 0.15s ease-in-out,
          background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
          box-shadow 0.15s ease-in-out;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &:hover {
          border-bottom-color: currentColor;
          text-decoration: none;
        }
      }
    }
  }
}

.sample-order-handler {
  .media-wrapper {
    display: inline-block;
  }
}

.full-width-image {
  &.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  &.container-fluid {
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
    }
    @media screen and (min-width: 960px) {
      margin-bottom: 80px;
    }
  }
}

.explore-style {
  .image-slider__controls {
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
}

.mar-t-m-35 {
  margin-top: -35px !important;
}
