.nz{
    .hero-banner-carousel-container-wrapper {
        background: none;
        .hero-banner-slick-carousel-item{
            background-color: $hero-banner-slick-carousel-bg-color;
        }
    }
    .quick-links-wrapper {
        background-color: $quicklinks-bgNZ;
        .quick-links{
            -ms-flex-pack: center !important;
    justify-content: center !important;
        }
        .caption{
            letter-spacing: -0.5px;
        }
    }
    .our-brands{
        .component-content-wrapper{
            margin-bottom:0;
        }
    }
    .the-forecast-artile-title{
        font-weight: bold;
    }
    .section-heading{
        margin-bottom: 8px;
        @media screen and (min-width: 768px){
            margin-bottom: 16px;
        }
        @media screen and (min-width: 960px){
            margin-bottom: 32px;
        }
    }
    .collection-card-wrapper{
        background: $bg-white;
    }
}

