.home-latest-article-each {
  margin-bottom: 40px;

  @media screen and (min-width: 960px) {
    margin-bottom: 80px;
  }

  .home-latest-article-item {
    margin-bottom: 10px;

    img {
      width: 100%;
    }
  }

  .home-latest-article-caption {
    margin-top: 35px;

    .btn-link-forward {
      border-bottom: none;
    }
  }

  .blog-latest-wrapper & {
    margin-bottom: 40px;

    .home-latest-article-caption {
      a {
        color: $secondary-text-color;

        &:hover {
          color: darken($secondary-text-color, 15%);
        }
      }

      .title {
        a {
          color: $link-color-new;

          &:hover {
            color: darken($link-color-new, 15%);
          }
        }
      }
    }
  }

  &.link-black {
    .blog-latest-wrapper & {
      .home-latest-article-caption {
        a {
          color: $secondary-text-color;
        }
      }
    }
  }
}

.home-latest-article-category-wrapper {
  .trend-tag {
    font-family: "Maison Neue";
    color: $link-color-new;
    background-color: $primary-color;
    font-size: 11px;
    padding: 2px 13.5px;
    border-radius: 4px;
    line-height: 1.65;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin: 12px 8px 0 0;
    display: inline-block;
    text-decoration: none;
  }
}

.blog-pagination-wrapper {
  margin: 18px 0;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 500;

  ul {
    display: inline-block;
    margin: 18px 0 0;
    padding: 0;
    border-radius: 3px;

    li {
      display: inline-block;
      color: $link-color-new;

      a {
        text-decoration: none;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        height: $pagination-size;
        width: $pagination-size;
        line-height: $pagination-size;
        padding: 1px;
        margin: 0 3px;
        display: block;
        color: $link-color-new;

        &:hover {
          background-color: $primary-color;
        }
      }

      &.active {
        a {
          border: 1px solid $pagination-active-border-color;
          cursor: default;
        }
      }

      &.btn-prev-page,
      &.btn-next-page {
        a {
          font-family: "font-icons-new" !important;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          -webkit-font-smoothing: antialiased;
        }
      }

      &.btn-prev-page {
        a {
          &:before {
            content: "\e003";
          }
        }
      }
      &.btn-next-page {
        a {
          &:before {
            content: "\e002";
          }
        }
      }
    }
  }

  > a,
  > span {
    text-decoration: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: $pagination-size;
    width: $pagination-size;
    line-height: $pagination-size;
    padding: 1px;
    margin: 0 3px;
    display: block;
    color: $link-color-new !important;
    display: inline-block;

    &:hover {
      background-color: $primary-color;
    }

    &.jp-current {
      border: 1px solid $pagination-active-border-color;
      cursor: default;
    }
  }

  .jp-previous,
  .jp-next {
    font-family: "font-icons-new" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
  }

  .jp-previous {
    &:before {
      content: "\e003";
    }
  }
  .jp-next {
    &:before {
      content: "\e002";
    }
  }
}

.content-wrapper {
  p,
  h4,
  ul,
  ol {
    margin-bottom: 1.5rem;
  }
}

.micromoment-swap {
  h3 {
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
    }

    @media screen and (min-width: 960px) {
      margin-bottom: 32px;
    }
  }

  p {
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      margin-bottom: 48px;
    }

    @media screen and (min-width: 960px) {
      margin-bottom: 32px;
    }
  }

  .content-wrapper {
    @media screen and (max-width: 767px) {
      margin-top: 32px;
    }
  }
}
