$mobile-header-height: 98px;
$sticky-mobile-header-height: 54px;

$tablet-header-height: 140px;
$sticky-tablet-header-height: 54px;

.select-dropdown {
  position: relative;

  .dropdown-toggle {
    font-family: "Brown Std New";
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.5;
    letter-spacing: 1.4px;
    text-align: left;
    color: #827167;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    border: none;
    background: none;
    cursor: pointer;

    &:after {
      font-family: "font-icons-new" !important;
      content: "\e008";
      border: none;
      display: inline;
    }
  }

  @media screen and (max-width: 767px) {
    float: left;
  }

  @media screen and (min-width: 960px) {
    float: right;
  }

  .dropdown-toggle {
    display: block;

    @media screen and (min-width: 768px) {
      display: none;
    }

    @media screen and (min-width: 960px) {
    }
  }

  .select-dropdown-menu {
    background: $bg-white;
    display: none;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 1050;
    width: 220px !important;
    right: 0;

    @media screen and (max-width: 767px) {
      left: 0;
    }

    li {
      float: none !important;
      margin: 0 !important;
      border-top: 1px solid $listing-border;

      &:first-child {
        border-top: 0;
      }

      a {
        padding: 0.625rem 1rem;
        display: block !important;
        font-size: 0.8125rem;
        color: $secondary-text-color;
        text-transform: none !important;

        &:hover {
          border-bottom-color: transparent;
        }
      }
    }
  }
}

.primary-navmenu-au {
  .logout-toggle:after {
    top: 4px;
  }
  [class*="icon-"] {
    color: $search-result-text-color;
    font-size: 22px;
    line-height: 0.5;
    font-style: normal;
    font-weight: normal;

    @media screen and (min-width: 960px) {
      line-height: 1.2;
    }

    &:before {
      vertical-align: middle;
    }

    span {
      display: none;
    }
  }

  .select-dropdown {
    display: none;

    @media screen and (max-width: 767px) {
      display: block;

      .dropdown-toggle {
        display: block;
      }
    }
  }

  .consumers {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  /*&:not(.sticky) {
		.header-right .header-top ul {
			display: block !important;
		}
	}*/

  /* Styles with Sticky header */
  &.sticky {
    .select-dropdown {
      display: block;
    }

    .consumers {
      display: none;
    }

    .row {
      justify-content: space-between;
    }

    .header-left {
      margin-right: auto;
    }

    .header-bottom {
      justify-content: flex-end !important;
    }

    .navbar-nav {
      padding: 0 !important;

      .nav-item {
        padding-right: 3.125rem;

        &:last-child {
          padding-right: 0.8rem;
        }
      }
    }

    .header-right {
      order: 2;

      &.prime-nav {
        width: auto;
        order: 1;
        align-self: center;

        .header-bottom {
          flex-direction: row;
        }
      }

      &.mobile-user-type-wrapper {
        @media screen and (max-width: 767px) {
          display: none !important;
        }
      }
    }

    .header-top {
      @media screen and (min-width: 960px) {
        display: block;
      }
    }

    .select-dropdown {
      padding-left: 1.875rem;
      border-left: 1px solid #d5d5d5;

      .dropdown-toggle {
        display: block;
      }
    }

    .header-cart-section {
      li {
        a {
          span {
            display: none;
          }
        }

        &.location-icon {
          display: none !important;
        }

        &.user-icon {
          i {
            display: block !important;
          }
        }
      }
    }
  }

  .header-right {
    margin-top: 0;
    margin-left: auto;
    order: 2;

    @media screen and (min-width: 768px) {
      order: 0;
      width: 100%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    @media screen and (min-width: 960px) {
      width: auto;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &.mobile-user-type-wrapper {
      @media screen and (max-width: 767px) {
        -ms-flex-direction: row;
        flex-direction: row;
        padding-top: 1rem;

        .header-top {
          float: none !important;
          width: auto !important;
          -ms-order: 1 !important;
          order: 1 !important;
          padding-top: 0 !important;
        }
        .mobile-login-wrapper {
          -ms-order: 2;
          order: 2;
        }
      }
    }

    &.prime-nav {
      width: auto;
      order: 1;
      flex: auto;
      align-self: center;

      @media screen and (min-width: 768px) {
        order: 2;
        width: auto;
        max-width: auto;
        flex: auto;
      }

      @media screen and (max-width: 959px) {
      }

      .header-bottom {
        flex-direction: row;
        justify-content: space-between;

        @media screen and (max-width: 959px) {
          flex-direction: row-reverse;
          width: 100%;
        }

        .header-cart-section {
          @media screen and (max-width: 959px) {
          }

          li {
            display: flex;
            align-items: center;

            @media screen and (min-width: 960px) {
              margin-left: 0.9375rem;
            }

            @media screen and (min-width: 960px) {
              &.menu-icon {
                display: none;
              }

              &.user-icon i {
                display: none;
              }
            }

            &.menu-icon {
              a {
                &:not(.collapsed) {
                  .icon-new-menu:before {
                    content: $icon-new--x-close;
                  }
                }
              }
            }
          }

          a {
            font-family: "Brown Std New";
            font-weight: bold;
            font-size: 0.875rem;

            &:not(.collapsed) {
              .icon-new--menu:before {
                content: $icon-new--x-close;
              }
            }
          }
        }
      }

      .navbar {
        float: none;
        padding: 2rem 0 1rem;

        .navbar-nav {
          flex-direction: row;

          .nav-item {
            .nav-link {
              &.has-child {
                &:after {
                  font-family: "font-icons-new" !important;
                  content: "\e00b";
                  display: inline;
                  vertical-align: middle;
                  font-size: smaller;
                  line-height: 1.8;
                  margin-left: 0.3125rem;
                  position: absolute;
                  left: auto;
                  display: none;
                }

                &:hover,
                &.show {
                  color: $link-color-new;
                  border-bottom: none;

                  &:after {
                    display: inline;
                  }
                }

                &:hover {
                  &:before {
                    content: "";
                    display: block;
                    height: 40px;
                    margin-bottom: -8px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                  }
                }
              }

              &:hover {
                color: $link-color-new;
                border-bottom: none;
              }
            }
          }
        }
      }
    }

    .header-top {
      padding: 1.375rem 0 0;

      @media screen and (max-width: 767px) {
        padding: 1rem 0 0;
      }

      ul {
        & > li {
          margin-left: 4rem;

          @media screen and (max-width: 768px) {
            margin-left: 1.5rem;
            width: auto;

            &:last-child {
              margin-left: 0;
            }
          }

          a {
            float: none;
            i {
              margin-right: 0.3125rem;
            }
          }

          &.active-header {
            a {
              color: $link-color-new;
              border-bottom-color: $link-color-new;
            }
          }
        }
      }
    }
  }

  .header-left {
    order: 0;

    @media screen and (min-width: 768px) {
      order: 1;
    }

    @media screen and (min-width: 960px) {
      order: 0;
    }
  }

  .logo {
    margin-top: 1.875rem;
    max-width: 150px;

    @media screen and (max-width: 767px) {
      margin-top: 0.875rem;
    }

    img {
      margin-top: 0;
    }
  }

  .siteHeader-sticky {
    z-index: 1030;
    margin: 0 auto;
  }

  .siteHeader,
  .navbar-expand-md {
    @media screen and (min-width: 960px) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
  }

  .siteHeader {
    background-color: $bg-white;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1.25rem;
    width: 768px;
    max-width: 100%;

    @media screen and (min-width: 768px) {
      width: 960px;
      padding-left: 2rem;
      padding-right: 2rem;
      max-width: 100%;
    }

    @media screen and (min-width: 960px) {
      width: 1440px;
      padding-left: 4rem;
      padding-right: 4rem;
    }

    @media screen and (min-width: 1440px) {
      height: 8.3125rem;
    }

    ul {
      -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
      justify-content: flex-end !important;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
    }

    .row {
      -webkit-box-align: end !important;
      -ms-flex-align: end !important;
      align-items: flex-end !important;
    }
  }

  .siteHeader-toggler a {
    font-size: 0;
    text-decoration: none;
    text-align: right;

    @media screen and (min-width: 960px) {
      display: none;
    }
  }

  .siteHeader-logo {
    a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 11.875rem;

      .logo {
        margin-top: 0;
      }
    }
  }

  .siteHeader-menu {
    @media screen and (min-width: 768px) {
      position: relative;
      right: -20px;
    }

    @media screen and (min-width: 960px) {
      right: 0;
    }

    a {
      width: 1.375rem;

      @media screen and (min-width: 960px) {
        line-height: 1.2;
      }
    }

    ul {
      li {
        margin-right: 14px;
      }
    }
  }

  .siteHeader-quickLinks ul,
  .siteHeader-nav-primary nav,
  .siteHeader-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .siteHeader-quickLinks {
    margin-top: 27px;

    ul {
      margin-right: 1.875rem;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      @media screen and (min-width: 960px) {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
      }

      a {
        &:before {
          margin-right: 0.5rem;
        }

        span {
          color: $text-color;
          font-size: 0.75rem;
          line-height: 1rem;
          letter-spacing: 1.4px;
          font-family: "Brown Std New";
          font-weight: bold;
          border-bottom: 2px solid transparent;
          padding-bottom: 0.375rem;
          line-height: 1.375rem;

          @media screen and (min-width: 1440px) {
            display: block;
          }
        }
      }
    }
  }

  .siteHeader-nav-primary nav,
  .justify-content-end {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }

  .siteHeader-nav-primary {
    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 960px) {
      padding-left: 0;
      padding-right: 1rem;
      -webkit-box-orient: horizontal !important;
      -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
      flex-direction: row-reverse !important;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }

    @media screen and (min-width: 1100px) {
      right: -3%;
    }

    @media screen and (min-width: 1200px) {
      right: -8%;
    }

    @media screen and (min-width: 1440px) {
      right: 0;
    }

    nav {
      ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        -webkit-box-orient: horizontal !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
        flex-direction: row !important;

        li {
          position: relative;
          margin-right: 42px;
          padding-left: 0.5rem;
          padding-right: 0.5rem;

          a {
            display: block;
            text-decoration: none;
            color: red;
          }

          @media screen and (min-width: 960px) {
          }

          a {
            color: $secondary-text-color;
            display: block;
            font-family: "Brown Std New";
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: bold;
            position: relative;

            @media screen and (min-width: 960px) {
              padding-left: 0;
              padding-right: 0;
            }

            &:hover:before {
              content: "";
              position: absolute;
              left: 0;
              display: -webkit-inline-box;
              display: -ms-inline-flexbox;
              display: inline-flex;
              height: 0.125rem;
              width: 100%;
              margin-top: 1.6875rem;
              border-bottom: 0.125rem solid #507035 !important;
            }
          }
        }
      }
    }
  }

  .siteHeader__nav--secondary {
    background: $menucontent-bg;
    position: fixed;
    width: 100%;
    z-index: 1030;

    @media screen and (min-width: 960px) {
      position: absolute;
      top: auto;
    }

    .menu-content {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      background: transparent;
      padding: 2rem 0;

      @media screen and (min-width: 960px) {
        position: relative;
        left: 0;
        top: 0;
        height: auto;
      }

      @media screen and (min-width: 1440px) {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 1440px;
        transition: opacity 0.2s ease-in-out;
      }
    }

    .row {
      div[class*="col-"]:not(:first-child) {
        border-left: 2px solid $accordion-border-color;

        ul {
          margin-left: 0.875rem;
        }
      }

      &.multiple-cols {
        & > div[class*="col"] {
          border-left: none;
        }
      }
    }
  }

  .listing {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      line-height: normal;

      a {
        font-family: "Brown Std New";
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: $secondary-text-color;
        padding-bottom: 0.375rem;
        border-bottom: 2px solid transparent;

        &:hover {
          color: $link-color-new;
          border-bottom: 2px solid $link-color-new;
        }

        &.view-all {
          color: $link-color-new;
        }
      }

      .has-thumbnails {
        .thumbnail {
          width: 33px;
        }
      }

      margin-bottom: 0.3125rem;

      &.active.has-child {
        a {
          position: relative;
          width: 100%;
          color: $link-color-new;

          &:hover {
            border-bottom: 2px solid transparent;
          }

          &:after {
            font-family: "font-icons-new" !important;
            font-size: 8px;
            position: absolute;
            display: block;
            content: "\e00a";
            right: 0;
            top: 50%;
            -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
          }
        }
      }

      &.has-thumbnails {
        position: relative;
        padding-left: 2.5rem;

        a {
          padding-top: 0.375rem;
        }

        .thumbnail {
          width: 33px;
          height: 33px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  .siteHeader__nav--secondary .collapse:not(.show),
  .siteHeader-nav-primary:not(.show) {
    display: none;
  }

  .card {
    background: none;
    border: none;
    border-radius: 0;
    padding-right: 1rem;

    @media screen and (min-width: 1100px) {
      padding-right: 4rem;
    }

    .card-horizontal {
      display: flex;
      flex: 1 1 auto;

      .card-img {
        margin: 0 1.3125rem 0 1.5rem;
        max-width: 107px;

        @media screen and (min-width: 960px) {
          flex: 0 0 33%;
          max-width: 135px;
        }

        img {
          height: auto;
        }
      }

      .card-body {
        h4 {
          font-family: "Brown Std New";
          font-size: 1rem;
          font-weight: bold;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: $secondary-text-color;
          margin-bottom: 0;
        }

        a {
          font-family: "Maison Neue";
          font-size: 0.8125rem;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.85;
          letter-spacing: 1px;
          color: $secondary-text-color;
        }
      }
    }
  }

  .desktop-view {
    display: none;

    @media screen and (min-width: 960px) {
      display: block;
    }
  }

  /* Mobile menu */
  .mobile-menu-view {
    display: block;

    @media screen and (min-width: 960px) {
      display: none;
    }

    .accordion-wrapper {
      .accordion-title {
        padding: 0.875rem 1.25rem;

        &.accordion-trigger {
          position: relative;

          h5,
          h6 {
            color: $secondary-text-color;
            font-family: "Brown Std New";
            text-decoration: none;
            margin: 0;
            cursor: default;
          }

          h5 {
            font-size: 1.125rem;
            line-height: 1.33;

            a {
              color: $text-color;
            }
          }

          h6 {
            a {
              color: $secondary-text-color;
            }
          }

          &:after {
            content: "\e008";
            font-size: 0.5rem;
            color: $secondary-text-color;
            height: 1.8rem;
            top: auto;
            display: none;
          }

          .accord-expand {
            font-family: "font-icons-new" !important;
            font-size: 0.5rem;
            color: $secondary-text-color;
            width: 3rem;
            text-align: right;
            top: 0;
            bottom: 0;
            position: absolute;
            right: 0;
            z-index: 10;
            cursor: pointer;

            &:after {
              content: "\e008";
              transform: translateY(50%);
              position: absolute;
              right: 1.25rem;
              line-height: 1.7rem;
            }
          }

          a {
            border: none;

            &:hover {
              color: $link-color-new;
            }
          }
        }
      }

      .accordion-item {
        &.active {
          h5 > a {
            color: $link-color-new;
          }

          & > .accordion-trigger {
            .accord-expand {
              color: $link-color-new;

              &:after {
                content: "\e00b";
              }
            }
          }
        }

        .sub-content {
          h5 {
            text-decoration: none;
          }

          /* styles for inner accordion */
          .accordion-item {
            &.active {
              h6 > a {
                color: $link-color-new;
              }
            }

            .accord-expand {
              right: -1.25rem;
            }

            &:last-child {
              border-bottom: none;
            }
          }

          .row {
            div[class*="col-"] {
              border: none;

              ul {
                margin-left: 0;
              }
            }
          }
        }
      }

      .accordion-content {
        margin: 0;
        padding: 0 1.25rem;
      }
    }

    .content-others {
      border-top: 2px solid $accordion-border-color;
      padding: 1.875rem 0;
      margin-top: 0.6875rem;
      width: 100%;

      .card {
        @media screen and (max-width: 767px) {
          padding-right: 0;
        }

        .card-img {
          margin-left: 0;
        }
      }
    }

    .listing {
      li {
        &:nth-child(even) {
          @media screen and (max-width: 767px) {
          }
        }
      }
    }

    #menuaccordion {
      height: calc(100vh - #{$tablet-header-height});
      overflow-x: hidden;
      overflow-y: auto;

      @media screen and (max-width: 767px) {
        height: calc(100vh - #{$mobile-header-height});
      }
    }
  }

  /* inner tab styles*/
  .tab-content,
  .subtab-content {
    margin: 0;
    display: none;
  }
}

@media screen and (max-width: 959px) {
  .primary-navmenu-au.sticky
    .header-right.prime-nav
    .header-bottom
    .header-cart-section
    li.user-icon.logout-li
    span {
    display: inline;
  }
  .primary-navmenu-au:not(.sticky)
    .header-right.prime-nav
    .header-bottom
    .header-cart-section
    li.user-icon.logout-li,
  .primary-navmenu-au.sticky
    .header-right.prime-nav
    .header-bottom
    .header-cart-section
    li.user-icon.logout-li
    i {
    display: none !important;
  }

  .primary-navmenu-au
    .header-right.mobile-user-type-wrapper
    .mobile-login-wrapper
    .logout-li {
    line-height: 1;

    a {
      font-family: "Brown Std New";
      font-weight: bold;
      font-size: 0.875rem;
    }
  }
}

@media screen and (max-width: 360px) {
  .primary-navmenu-au > .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .primary-navmenu-au > .container .header-left.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.primary-navmenu-au {
  &:not(.sticky) {
    .header-right.prime-nav
      .header-bottom
      .header-cart-section
      a.logout-toggle
      .icon--user {
      display: none;

      @media screen and (max-width: 959px) and (min-width: 768px) {
        display: inline;
      }
    }
  }
  &.sticky {
    .header-right.prime-nav
      .header-bottom
      .header-cart-section
      a.logout-toggle {
      &:after,
      > span {
        display: none !important;
      }
    }

    .mobile-menu-view #menuaccordion {
      height: calc(100vh - #{$sticky-tablet-header-height});

      @media screen and (max-width: 767px) {
        height: calc(100vh - #{$sticky-mobile-header-height});
      }
    }
  }
  .header-right.prime-nav .header-bottom .header-cart-section a.logout-toggle {
    &:after {
      top: -2px;
      vertical-align: middle;
      right: -7px;
    }
  }

  @media screen and (max-width: 960px) {
    .nav--modal,
    .nav--modal1 {
      display: none !important;
    }
    &.sticky {
      .logout-dropdown {
        top: $sticky-tablet-header-height !important;
        height: calc(100vh - #{$sticky-tablet-header-height});
        @media screen and (max-width: 767px) {
          top: $sticky-mobile-header-height !important;
          height: calc(100vh - #{$sticky-mobile-header-height});
        }
      }
    }

    .logout-toggle:after {
      display: none !important;
    }

    .logout-dropdown {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      top: $tablet-header-height !important;
      height: calc(100vh - #{$tablet-header-height});
      box-shadow: none;
      background-color: #fafafa;
      overflow-x: hidden;
      overflow-y: auto;

      @media screen and (max-width: 767px) {
        top: $mobile-header-height !important;
        height: calc(100vh - #{$mobile-header-height});
      }

      .dropdown-item {
        color: $text-color !important;
        font-size: 1.124rem !important;
        font-weight: bold !important;
        font-stretch: normal !important;
        font-style: normal !important;
        font-family: "Brown Std New" !important;
        line-height: 1.33 !important;
        border-color: #d5d5d5 !important;
      }
    }
  }
}
header.primary-navmenu-au {
  .header-right .header-bottom .header-cart-section li .cart-value {
    top: -3px;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);

    @media screen and (max-width: 959px) {
      top: -12px;
    }
  }

  &.sticky {
    .header-right .header-bottom .header-cart-section li .cart-value {
      display: inline;
    }
  }
}
