body {
    background: #f7f7f5;
}

a[class*="icon-new"] {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    color: #5f6263;
    font-size: 22px;
    line-height: .5;

    &:before {
        font-family: 'font-icons-new' !important;
    }

    span {
        display: none;
    }

}

.siteHeader-sticky {
    z-index: 1030;
    margin: 0 auto;
}

.siteHeader {
    background-color: $bg-white;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 27px 1.25rem 32px;
    width: 768px;
    max-width: 100%;

    @media screen and (min-width: 768px) {
        width: 960px;
        padding-left: 2rem;
        padding-right: 2rem;
        max-width: 100%;
    }

    @media screen and (min-width: 960px) {
        width: 1440px;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    @media screen and (min-width:1440px) {
        height: 8.3125rem;
    }

    ul {
        -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
        justify-content: flex-end !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }
}

.siteHeader-logo {
    a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 11.875rem;

        .logo {

            margin-top: 0;
        }
    }

}


.siteHeader-menu {
    @media screen and (min-width: 768px) {
        position: relative;
        right: -20px;
    }

    @media screen and (min-width: 960px) {
        right: 0;
    }

    ul {

        li {
            margin-right: 16px;

            @media screen and (min-width: 960px) {
                margin-right: 1.75rem;
            }

            @media screen and (min-width: 1440px) {
                margin-right: 32px;
            }
        }
    }


}

.siteHeader-quickLinks {
    margin-top: 24px;

    @media screen and (min-width: 960px) {
        margin-top: 0;
    }

    ul {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        @media screen and (min-width: 960px) {
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
        }
a:not(.icon-new) {
        font-size: .75rem;
        line-height: 1rem;
        letter-spacing: 1.4px;
        font-family: "Brown Std";
        font-weight: 700;
        font-weight: bold;

        span {
            @media screen and (min-width:1440px) {
                display: block;
            }
        }
    }
    }
}

.siteHeader-nav-primary {
    margin-top: 16px;
    padding-left: 0;
    padding-right: 1rem;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;

    @media screen and (min-width: 960px) {
        margin-top: 32px;
    }

    @media screen and (min-width: 960px) {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        margin-top: 31px;
    }

    @media screen and (min-width: 1100px) {
        right: -3%;
    }

    @media screen and (min-width: 1200px) {
        right: -8%;
    }

    @media screen and (min-width: 1440px) {
        right: 0;
    }
}
