@font-face {
  font-family: "font-icons-new";
  src: url("../fonts/font-icons/new/font-icons-ttf.ttf") format("truetype"),
    url("../fonts/font-icons/new/font-icons-woff.woff") format("woff"),
    url("../fonts/font-icons/new/font-icons-woff2.woff2") format("woff2"),
    url("../fonts/font-icons/new/font-icons-svg.svg#font-icons_v1")
      format("svg");
}

[class*="icons-new--"] {
  font-family: "font-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-new--alert::before {
  content: "";
}

.icon-new--arrow-small-left::before {
  content: "";
}

.icon-new--arrow-small-right::before {
  content: "";
}

.icon-new--bin::before {
  content: "";
}

.icon-new--bulb::before {
  content: "";
}

.icon-new--cart::before {
  content: "";
}

.icon-new--chat::before {
  content: "";
}

.icon-new--chevron-small-down::before {
  content: "";
}

.icon-new--chevron-small-left::before {
  content: "";
}

.icon-new--chevron-small-right::before {
  content: "";
}

.icon-new--chevron-small-up::before {
  content: "";
}

.icon-new--compass::before {
  content: "";
}

.icon-new--document::before {
  content: "";
}

.icon-new--download::before {
  content: "";
}

.icon-new--email::before {
  content: "";
}

.icon-new--facebook::before {
  content: "";
}

.icon-new--globe::before {
  content: "";
}

.icon-new--hammer::before {
  content: "";
}

.icon-new--help::before {
  content: "";
}

.icon-new--information::before {
  content: "";
}

.icon-new--instagram::before {
  content: "";
}

.icon-new--laminex-logo::before {
  content: "";
}

.icon-new--leaf::before {
  content: "";
}

.icon-new--linkedin::before {
  content: "";
}

.icon-new--list::before {
  content: "";
}

.icon-new--loading::before {
  content: "";
}

.icon-new--location::before {
  content: "";
}

.icon-new--menu::before {
  content: "";
}

.icon-new--minus-solid::before {
  content: "";
}

.icon-new--minus::before {
  content: "";
}

.icon-new--pencil::before {
  content: "";
}

.icon-new--phone::before {
  content: "";
}

.icon-new--pintrest::before {
  content: "";
}

.icon-new--play::before {
  content: "";
}

.icon-new--plus-solid::before {
  content: "";
}

.icon-new--plus::before {
  content: "";
}

.icon-new--products::before {
  content: "";
}

.icon-new--quick-order::before {
  content: "";
}

.icon-new--sample-basket::before {
  content: "";
}

.icon-new--search::before {
  content: "";
}

.icon-new--share::before {
  content: "";
}

.icon-new--stack::before {
  content: "";
}

.icon-new--swatch::before {
  content: "";
}

.icon-new--thin-arrow-left::before {
  content: "";
}

.icon-new--thin-arrow-right::before {
  content: "";
}

.icon-new--tick-circle::before {
  content: "";
}

.icon-new--tick-thick::before {
  content: "";
}

.icon-new--tick-thin::before {
  content: "";
}

.icon-new--tick::before {
  content: "";
}

.icon-new--trash::before {
  content: "";
}

.icon-new--truck::before {
  content: "";
}

.icon-new--twitter::before {
  content: "";
}

.icon-new--user::before {
  content: "";
}

.icon-new--x-close::before {
  content: "";
}

.icon-new--youtube::before {
  content: "";
}

.icon-new--zoom-in::before {
  content: "";
}
