.home-newsletter-wrapper {
  @media screen and (min-width: 768px) {
    &.right-img {
      .home-newsletter-content-col {
        -ms-flex-order: 1;
        order: 1;
      }
      .home-newsletter-media-wrapper {
        -ms-flex-order: 2;
        order: 2;
      }
    }
  }
}
.home-newsletter-media-wrapper {
  img {
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
}
.home-newsletter-content-col {
  @media screen and (min-width: 768px) {
    padding-left: calc(8.3333333333% + 15px);

    .right-img & {
      padding-left: 0;
    }
  }
}
.home-newsletter-content-wrapper {
  .section-title {
    color: $home-newsletter-content-wrapper-section-title-color;
  }

  .title {
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
      margin-bottom: 16px;
    }
    @media screen and (min-width: 960px) {
      margin-bottom: 32px;
    }
  }

  .caption {
    p {
      margin-bottom: 24px;

      @media screen and (min-width: 768px) {
        margin-bottom: 16px;
      }
      @media screen and (min-width: 960px) {
        margin-bottom: 32px;
      }
    }
  }
}

.home-newsletter-wrapper-new {
  .home-newsletter-row {
    // margin-right: -4px;
    // margin-left: -4px;

    &:before,
    &:after {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }

    .home-newsletter-media-col {
      margin-bottom: 24px;
      @media screen and (min-width: 768px) {
        width: 58.3333333333%;
        margin-bottom: 16px;

        &.media-col-left {
          float: left;
          padding-right: calc(8.3333333333% + 8px);
        }
        &.media-col-right {
          float: right;
          padding-left: calc(8.3333333333% + 8px);
        }
      }

      @media screen and (min-width: 960px) {
        margin-bottom: 32px;

        &.media-col-left {
          padding-right: calc(8.3333333333% + 16px);
        }
        &.media-col-right {
          padding-left: calc(8.3333333333% + 16px);
        }
      }
    }

    // .home-newsletter-col {
    //   position: relative;
    //   min-height: 1px;
    //   padding-right: 4px;
    //   padding-left: 4px;
    //   float: left;
    // }

    // @media screen and (min-width: 768px) {
    //   margin-right: -8px;
    //   margin-left: -8px;

    //   .home-newsletter-col {
    //     padding-right: 8px;
    //     padding-left: 8px;
    //   }
    // }

    // @media screen and (min-width: 960px) {
    //   margin-right: -16px;
    //   margin-left: -16px;

    //   .home-newsletter-col {
    //     padding-right: 16px;
    //     padding-left: 16px;
    //   }
    // }
  }
}
