.quick-order-container {
  &.has-face {
    .item {
      width: 18.6%;

      &.item-only-desktop {
        .prod-desc {
          width: 100%;
          padding-left: 0;
        }
      }
    }
    .face {
      width: 10.7%;
      padding-right: 0.5625rem !important;

      select,
      .selecty {
        width: 100%;
      }
    }
    .size {
      width: 13.7%;
    }
    .thickness {
      width: 9.5%;
    }

    .project-name {
      width: 11.1%;
    }

    .qty {
      width: 13.2%;

      .price-details1 {
        div {
          white-space: normal !important;
        }
      }
    }
    .price {
      width: 26.2%;
    }

    @media screen and (max-width: 1099.98px) {
      .substrate {
        &.substrate-not-desktop {
          width: 50%;
        }
      }

      .face {
        width: 16.3%;
      }
      .size {
        width: 16.7%;
      }
      .thickness {
        width: 16.5%;
      }
      .project-name {
        width: 50%;
      }
      .price {
        width: 24.7% !important;
      }

      .product-orderable-error {
        padding: 0 0.625rem;
      }
    }

    @media screen and (max-width: 767px) {
      .price {
        width: 50% !important;
      }
    }
  }
}

.cart-container {
  &.has-face {
    .face {
      span {
        padding-top: 0.7rem;
        display: inline-block;
        font-family: "Maison Neue";
        font-weight: 500;
        font-size: 0.8125rem;
        line-height: 1.85;
        letter-spacing: 1.3px;
      }
    }

    .item {
      width: 21.537%;
    }
    .description {
      width: 20.208%;
    }
    .project-name {
      width: 11.5%;
    }

    @media screen and (max-width: 1099.98px) {
      .cart-table-body {
        .tbody {
          .tr {
            .td {
              width: 25%;
            }
          }
        }
      }
      .qty,
      .price {
        width: 25% !important;
      }
    }

    @media screen and (max-width: 767px) {
      .face {
        width: 100% !important;
      }
      .qty,
      .price {
        width: 50% !important;
      }
    }
  }
}

.white-tooltip-wrapper {
  .tooltip-inner {
    border-color: $white-tooltip-border-color !important;
    background-color: #fff !important;
  }

  .bs-tooltip-bottom,
  .bs-tooltip-auto[x-placement^="bottom"] {
    .arrow {
      &:before {
        border-bottom-color: $white-tooltip-border-color;
      }
    }
  }

  .tooltip-trigger {
    font-size: 1rem;
    vertical-align: middle;
  }
}

.checkout-container {
  .checkout-content {
    .checkout-summary-container {
      .checkout-summary-content {
        .dlvry-from-wrapper {
          ul.product-desc {
            li {
              float: none !important;
              position: relative;

              .item {
                float: none !important;
                width: 100% !important;
                padding-left: 3.4375rem;

                img {
                  float: none !important;
                  position: absolute;
                  left: 0;
                  top: 1.22rem;
                }

                .prod-desc {
                  float: none !important;
                  width: 100% !important;
                  margin-left: 0 !important;

                  .prod-name,
                  .product-code,
                  .product-size {
                    padding-right: calc(27% + 2rem);
                  }

                  .proj-qty-wrapper,
                  .proj-face-wrapper {
                    width: auto;
                    float: none;
                    margin: 0;
                    line-height: 1;
                    display: inline-block;
                  }
                  .qty {
                    width: 100%;
                    float: none;
                  }

                  .face,
                  .project {
                    font-size: 0.812rem;
                    font-weight: 500;
                    font-style: normal;
                    line-height: 1.85;
                    letter-spacing: 1.3px;
                    text-align: left;
                    color: #3b3c40;
                    display: inline-block;
                    float: none;
                  }

                  .product-size {
                    @media screen and (max-width: 1099.98px) {
                      width: 100%;
                    }
                  }
                }
              }

              .price {
                position: absolute;
                float: none !important;
                width: 27% !important;
                top: 1.22rem;
                right: 0;
              }
            }
          }
        }
      }
    }
  }
}
