.quick-order-container {
  &.has-face {
    .item {
      width: 18.6%;

      &.au-item {
        margin-bottom: 10px;
      }

      &.item-only-desktop {
        .prod-desc {
          width: 100%;
          padding-left: 0;
        }
      }
    }
    .tr-quickOrder {
      .quick-product-availability {
        padding-left: 0.875rem;
      }
    }
    .face {
      width: 11.7%;
      padding-right: 0.5625rem !important;

      select,
      .selecty {
        width: 100%;
      }
    }
    .size {
      width: 13.7%;
    }
    .thickness {
      width: 9.5%;
    }

    .project-name {
      width: 11.1%;
    }

    .qty {
      width: 13.2%;

      .price-details1 {
        div {
          white-space: normal !important;
        }
      }
    }
    .price {
      width: 25.2%;
    }

    .final-product-price {
      .btn {
        padding-left: 15px;
        padding-right: 15px;
        white-space: normal;
        display: block;
        float: none;
        clear: both;
        margin-left: auto;
        width: 100%;
      }
    }

    @media screen and (max-width: 1099.98px) {
      .substrate {
        &.substrate-not-desktop {
          width: 40.5%;
        }
      }

      .face {
        width: 24.8%;
      }
      .size {
        width: 34.7%;
      }
      .thickness {
        width: 18.9% !important;
      }
      .project-name {
        width: 30.9%;
      }
      .qty.my-qty {
        width: 29.3% !important;
      }
      .price {
        width: 20.7% !important;
        display: block !important;
        text-align: right !important;

        .price-details2 {
          width: auto !important;
          display: inline-block !important;
        }
      }

      .product-orderable-error {
        padding: 0 0.625rem;
      }
    }
    @media screen and (max-width: 1099.98px) and (min-width: 961px) {
      .price {
        .price-details3 {
          right: 140px;
        }
        .price-edit-delete {
          top: 12px;
        }
      }
    }
    @media screen and (max-width: 960px) and (min-width: 768px) {
      .price {
        .price-details3 {
          right: 85px;
        }
        .price-edit-delete {
          top: 12px;
          right: 28px;
        }
      }
    }

    @media screen and (max-width: 767px) {
      .price {
        width: 50% !important;
      }
      .thickness {
        width: 100% !important;
      }
      .qty.my-qty {
        width: 50% !important;
      }
      .price {
        text-align: left !important;
      }
    }
  }
}

.cart-container {
  &.has-face {
    .face {
      span {
        padding-top: 0.7rem;
        display: inline-block;
        font-family: "Maison Neue";
        font-weight: 500;
        font-size: 0.8125rem;
        line-height: 1.85;
        letter-spacing: 1.3px;
      }
    }

    .item {
      width: 21.537%;
    }
    .description {
      width: 20.208%;
    }
    .project-name {
      width: 11.5%;
    }

    .price {
      .price-edit-delete {
        float: right !important;
      }
    }

    @media screen and (max-width: 1099.98px) and (min-width: 768px) {
      .price {
        text-align: right !important;
        padding-right: 0.8125rem !important;

        .price-details2 {
          width: auto !important;
          display: inline-block !important;
          float: none !important;
        }
        .price-edit-delete {
          position: absolute;
          right: 2rem;
          top: 0.8125rem;
        }
      }
    }

    @media screen and (max-width: 1099.98px) {
      .cart-table-body {
        .tbody {
          .tr {
            .td {
              width: 25%;
            }
          }
        }
      }
      .qty,
      .price {
        width: 25% !important;
      }

      .delivery-method {
        display: block;
        width: calc(100% - 8rem);
        margin-left: auto;
        margin-right: auto;
      }
      .cart-table-body {
        .tbody {
          .tr {
            .td {
              &.description,
              &.face {
                display: none !important;
              }

              &.item {
                .prod-desc {
                  .desc {
                    display: block;
                  }
                }
              }

              &.project-name {
                width: 50% !important;
              }
            }
          }
        }
      }
      .qty {
        .price-details1 {
          width: 70% !important;
          padding-left: 1.125rem !important;
        }
      }

      .proj-qty-face-wrapper {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
      }
    }

    @media screen and (max-width: 959.98px) {
      .cart-table-header {
        display: none !important;
      }

      .price {
        padding-right: 2.9rem !important;

        .price-details3 {
          right: 4rem;
        }
      }

      .delivery-method {
        width: calc(100% - 4rem);
      }
    }

    @media screen and (max-width: 767px) {
      .face {
        display: block;
        width: 100% !important;
        // padding-left: calc(2.5rem + 5.794%) !important;
        // padding-top: 0 !important;

        .mobile-table-heading {
          display: none !important;
        }

        span {
          padding-top: 0 !important;
        }
      }
      .cart-table-body {
        .tbody {
          .tr {
            .td {
              &.project-name {
                width: 100% !important;
              }
            }
          }
        }
      }
      .qty,
      .price {
        width: 50% !important;
      }
      .price {
        padding-right: 0.5rem !important;
        text-align: right !important;
        .price-details3 {
          right: 1.2rem !important;
        }

        .price-details2 {
          width: auto !important;
          display: inline-block !important;
          float: none !important;
        }
      }
    }
  }
}

.white-tooltip-wrapper {
  .tooltip-inner {
    border-color: $white-tooltip-border-color !important;
    background-color: #fff !important;
  }

  .bs-tooltip-bottom,
  .bs-tooltip-auto[x-placement^="bottom"] {
    .arrow {
      &:before {
        border-bottom-color: $white-tooltip-border-color;
      }
    }
  }

  .tooltip-trigger {
    font-size: 1rem;
    vertical-align: middle;
  }
}

.checkout-container {
  .checkout-content {
    .checkout-summary-container {
      .checkout-summary-content {
        .dlvry-from-wrapper {
          ul.product-desc {
            li {
              float: none !important;
              position: relative;

              .item {
                float: none !important;
                width: 100% !important;
                padding-left: 3.4375rem;

                img {
                  float: none !important;
                  position: absolute;
                  left: 0;
                  top: 1.22rem;
                }

                .prod-desc {
                  float: none !important;
                  width: 100% !important;
                  margin-left: 0 !important;

                  .prod-name,
                  .product-code,
                  .product-size {
                    padding-right: calc(27% + 2rem);
                  }

                  .proj-qty-wrapper,
                  .proj-face-wrapper {
                    width: auto;
                    float: none;
                    margin: 0;
                    line-height: 1;
                    display: inline-block;
                  }
                  .qty {
                    width: 100%;
                    float: none;

                    @media screen and (max-width: 1099.98px) {
                      width: auto !important;
                      margin-bottom: 0;
                    }
                  }

                  .proj-qty-face-wrapper {
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-direction: row;
                    flex-direction: row;
                    -ms-flex-pack: start;
                    justify-content: flex-start;
                    -ms-flex-align: center;
                    align-items: center;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    margin: 0 0 6px;
                    width: 100%;

                    .qty {
                      -ms-flex-order: 1;
                      order: 1;
                      margin-right: 40px;
                      width: auto;
                      margin-bottom: 6px;
                      line-height: 1.85;
                    }
                    .proj-face-wrapper {
                      -ms-flex-order: 2;
                      order: 2;
                      margin-right: 40px;
                      margin-bottom: 6px;
                    }
                    .proj-qty-wrapper {
                      -ms-flex-order: 3;
                      order: 3;
                      margin-bottom: 6px;
                    }

                    @media screen and (max-width: 1099.98px) {
                      .qty {
                        margin-right: 1rem;
                      }
                      .proj-face-wrapper {
                        margin-right: 1rem;
                      }
                    }
                  }

                  .face,
                  .project {
                    font-size: 0.812rem;
                    font-weight: 500;
                    font-style: normal;
                    line-height: 1.85;
                    letter-spacing: 1.3px;
                    text-align: left;
                    color: #3b3c40;
                    display: inline-block;
                    float: none;
                  }

                  .product-size {
                    @media screen and (max-width: 1099.98px) {
                      width: 100%;
                    }
                  }
                }
              }

              .price {
                position: absolute;
                float: none !important;
                width: 27% !important;
                top: 1.22rem;
                right: 0;
              }
            }
          }
        }
      }
    }
  }
}
