.updated-search-products-outer {
  .search-for-products {
    @media screen and (min-width: 768px) {
      padding-left: 0;
    }
    form {
      input {
        border-left: 1px solid $search-border-color;
        border-radius: 3px;
        color: $secondary-text-color;
        padding-top: 1.125rem;
        padding-bottom: 1.125rem;

        &::-webkit-input-placeholder {
          color: $search-placeholder-text-color;
        }
        &::-moz-placeholder {
          color: $search-placeholder-text-color;
        }
        &:-ms-input-placeholder {
          color: $search-placeholder-text-color;
        }
        &:-moz-placeholder {
          color: $search-placeholder-text-color;
        }

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
          display: none;
        }
      }
    }

    .invalid-form-result {
      input {
        border-left: 1px solid $search-error-border-color;
      }
    }

    .autocomplete-product-search-results {
      width: 100%;
      margin-top: 10px;
      -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.25), 0 2px 4px 0 #d5d5d5;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.25), 0 2px 4px 0 #d5d5d5;
      padding-left: 0.688rem;
      padding: 0.688rem;
      border-radius: 3px;
      height: auto;
      max-height: 45vh;
      overflow: auto;

      @media screen and (max-width: 767px) {
        width: calc(100% - 2.5rem);
        margin-top: -1.25rem;
      }

      li {
        line-height: 1;
        padding-left: 0;
        padding-right: 0;
        width: auto;
        display: block;

        a:not(.btn) {
          display: block;
        }

        @media screen and (max-width: 959.98px) {
          span {
            display: inline;
          }
        }

        &.title {
          font-family: "Brown Std New";
          font-size: 0.875rem;
          line-height: 1.43;
          font-weight: bold;
          color: $secondary-text-color;
          font-weight: bold;
          margin-top: 20px;
        }

        &.divider {
          margin-top: 0.938rem;
          margin-top: 0.938rem;
          border-bottom: solid 1px #d5d5d5;
        }

        &.search-result {
          margin-top: 0.938rem;
          margin-bottom: 0.938rem;
        }

        &.search-products {
          > a {
            margin: 0.688rem -0.688rem 0;
            padding: 0.75rem 0.688rem;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: center;
            align-items: center;
          }

          &.even {
            background-color: $search-result-product-bg-color;
          }

          .products-media-wrapper {
            width: 100%;
            max-width: $products-media-wrapper-width;
            -ms-flex: 0 0 $products-media-wrapper-width;
            flex: 0 0 $products-media-wrapper-width;
            border: solid 1px $accordion-border-color;
          }
        }

        .prod-name {
          font-size: 0.875rem;
          line-height: 1.43;
          color: $search-result-text-color;
          font-weight: 300;
          width: 100%;
          max-width: calc(100% - #{$products-media-wrapper-width});
          -ms-flex: 0 0 calc(100% - #{$products-media-wrapper-width});
          flex: 0 0 calc(100% - #{$products-media-wrapper-width});
          margin-left: 0;
          padding-left: 0.75rem;
          display: block;

          &:only-child {
            padding-left: 0;
          }

          .name {
            color: $secondary-color;
            font-weight: bold;
          }

          .search-results-highlight {
            color: $secondary-text-color;
            font-weight: bold;
            font-style: normal;
          }

          .tag {
            color: $link-color-new;
            font-weight: bold;
          }
        }
      }
    }

    .no-product-found {
      clear: both;
      background-color: #ffffff;
      // box-shadow: 0 2px 4px 0 $accordion-border-color;
      // border-radius: 3px;
      // padding: 1.563rem 1.188rem;
      // font-family: "BrownStd New", sans-serif;

      a {
        color: $link-color-new;
        border-bottom: 1px dotted $link-color-new;
      }

      .no-product-found-icon,
      > div:before {
        width: 25px;
        height: 25px;
        font-size: 1.5625rem !important;
        top: 4px !important;
        color: $secondary-text-color !important;
        opacity: 1 !important;
      }
    }
  }
}

.search-result-header-wrapper,
.search-result-body-wrapper {
  background-color: #fff;
  color: $secondary-text-color;
}

.search-result-header-wrapper {
  position: relative;

  @media screen and (min-width: 768px) {
    padding-top: 35px;
  }

  &:before {
    content: "";
    background-color: $accordion-border-color;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .accordionTabHeader {
    &.active {
      color: $link-color-new;
    }
  }
  &.search-result-header-au {
    &:before {
      display: none;
    }
    .nav-tabs {
      border-bottom: none;
    }

    .accordionTabHeader {
      border: 1px solid $accordion-border-color;
    }

    .tab-accordion-nav {
      .tab-nav-link {
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 0;
      }
    }
  }
}
.search-result-body-wrapper {
  .page-wrapper {
    padding: 0;
  }

  .description-wrapper {
    padding-bottom: 15px;
    p {
      font-family: "Maison Neue", sans-serif;
      font-size: 0.875rem;
      font-weight: 300;
      line-height: 1.71;
      color: $secondary-text-color;
      margin-bottom: 15px;
    }

    a {
      color: $link-color-new;
      font-weight: bold;
    }
  }

  .accordion-trigger {
    h6 {
      margin-bottom: 0;
    }

    &:not(.collapsed) {
      h6 {
        color: $search-accordion-title-active-text-color;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .tab-accordion-content {
      margin-left: -1.25rem;
      margin-right: -1.25rem;

      .accordion-trigger {
        background-color: #fff;
        border-bottom-color: transparent;
      }
    }

    .accordion-item.page-wrapper {
      margin-bottom: 0;
    }

    .accordion-item {
      &:last-child {
        border-bottom: 1px solid $accordion-border-color;
      }
    }
  }
}

.product-listing-wrapper {
  color: $secondary-text-color;
  .product-listing-item {
    margin-bottom: 1rem;

    .media-wrapper {
      position: relative;
      background-color: #ffffff;

      img {
        z-index: 0;
        width: 100%;
      }

      .sample-order-trigger {
        @extend %sample-order-trigger;
      }
    }

    .caption-wrapper {
      padding: 1rem 0 1rem;
    }

    .caption-tag {
      font-family: "Maison Neue", sans-serif;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.71;
      color: $link-color-new;
    }

    .caption-title {
      font-family: "BrownStd", sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.5;
      color: $secondary-text-color;
    }

    .caption-description {
      font-family: "Maison Neue", sans-serif;
      font-size: 0.875rem;
      font-weight: 300;
      line-height: 1.71;
      color: $secondary-text-color;
    }
  }
}

.technical-resources-wrapper {
  color: $secondary-text-color;
  .technical-resources-item {
    margin-bottom: 30px;
  }

  .has-media {
    .media-wrapper {
      -ms-flex: 0 0 119px;
      flex: 0 0 119px;
      max-width: 119px;
    }

    .content-wrapper {
      -ms-flex: 0 0 calc(100% - 119px);
      flex: 0 0 calc(100% - 119px);
      max-width: calc(100% - 119px);
    }
  }

  .content-wrapper {
    .content-title {
      font-family: "BrownStd", sans-serif;
      font-size: 1.125rem;
      font-weight: bold;
      line-height: 1.33;
      color: $link-color-new;
      margin-bottom: 3px;
    }
    .content-description {
      font-family: "Maison Neue", sans-serif;
      font-size: 0.875rem;
      font-weight: 300;
      line-height: 1.71;
      color: $secondary-text-color;
    }
  }
}

.document-resources-wrapper {
  color: $secondary-text-color;

  .document-resources-meta {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.71;

    .brand {
      font-weight: bold;
    }

    .date {
      margin-left: 25px;
    }

    @media screen and (max-width: 767px) {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      .brand,
      .date {
        display: block;
        margin-left: 0;
        margin-bottom: 15px;
      }
    }
  }

  .document-resources-btn-wrapper {
    .btn {
      width: auto;
      min-width: 116px;
    }
  }

  .document-resources-item {
    .content-wrapper {
      border-bottom: 2px solid $document-resources-item-divider-color;
      margin-bottom: 20px;
      padding-bottom: 20px;

      h5 {
        a {
          color: $document-resources-item-color;
        }

        @media screen and (max-width: 767px) {
          margin-bottom: 15px;
          // a {
          //   color: $link-color-new;
          // }
        }
      }
    }
  }
}

.page-wrapper .chapter .swatch-tiles__list li .swatch-tiles__body-top h4 {
  word-break: break-word;
}

.page-wrapper .btn-filter {
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-color: $link-color-new;
    border-color: $link-color-new;
    color: #fff;
  }
}
