.store-locator-details {
  color: $secondary-text-color;
  font-family: "Maison Neue";
  font-weight: 300;
  @media screen and (min-width: 960px) {
    font-size: 1.125rem;
  }
  h6 {
    font-family: "Maison Neue" !important;
    font-weight: 500;
  }
  .featured-info {
    p {
      margin-bottom: 2rem;
    }
  }
  .location-content {
    .location-content-composition,
    a:not(.btn) {
      @media screen and (max-width: 767px) {
        font-size: 0.875rem;
      }
      @media screen and (min-width: 768px) {
        font-size: 1rem;
      }
      @media screen and (min-width: 960px) {
        font-size: 1.125rem;
      }
    }
    .location-content-composition {
      margin-bottom: 1.5rem;
      .time {
        min-width: 118px;
        text-align: $store-locator-detail-alignment;
      }
    }
    .field-locationfaxnumber a,
    .field-locationphonenumber a {
      font-weight: inherit;
      color: inherit;
    }
    address {
      margin-bottom: 1.875rem;
      div:last-child {
        margin-bottom: 0;
      }
    }
    .location-content-head {
      @media screen and (max-width: 767px) {
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
      }
    }
    .location-col {
      @media screen and (max-width: 767px) {
        margin-bottom: 1.75rem;
      }
    }
  }
  a:not(.btn) {
    font-weight: 500;
    color: $storelocator-pagination-anchor;
    &:before {
      color: $secondary-text-color;
    }
  }
  .field-public-holiday {
    font-weight: 700;
  }
  &.nz {
    .location-content {
      address {
        margin-bottom: 0;
      }
    }
  }
}
.company-banner {
  position: relative;
  height: 235px;
  overflow: hidden;
  @media screen and (max-width: 959px) {
    height: 95px;
  }

  figure {
    margin: 0;
    img {
      position: absolute;
      left: 0;
      top: 0;
      height: auto;
      width: 100%;
      min-height: 235px;
      // object-fit: contain;
      // -webkit-transform: translate(-50%, -50%);
      // transform: translate(-50%, -50%);
    }
  }
  .title {
    position: absolute;
    width: 100%;
    bottom: 0;
    @media screen and (max-width: 959px) {
      bottom: -1px;
    }
  }
  h1 {
    font-size: 1.5rem;
    letter-spacing: -0.5px;
    background: $bg-white;
    display: inline-block;
    padding: 0.625rem 1.25rem 0;
    margin: 0 0 0 -1.25rem;
    @media screen and (min-width: 960px) {
      font-size: 3.125rem;
      line-height: 1.28;
      letter-spacing: -0.83px;
      margin: 0 0 0 -4.625rem;
      padding: 1.75rem 3.875rem 0 4.625rem;
    }
  }
}
