.the-forecast-wrapper {
  .article-feature-title-secondary {
    color: $secondary-color;
  }

  @media screen and (max-width: 767px) {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .the-forecast-artile-wrappers {
      width: 100%;
    }
  }

  .title-wrapper {
    padding-right: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;

    @media screen and (min-width: 768px) {
      -ms-flex: 0 0 $the-forecast-title-tab-width;
      flex: 0 0 $the-forecast-title-tab-width;
      max-width: $the-forecast-title-tab-width;
      padding-top: 5%;
    }
    @media screen and (min-width: 960px) {
      -ms-flex: 0 0 $the-forecast-title-width;
      flex: 0 0 $the-forecast-title-width;
      max-width: $the-forecast-title-width;
    }

    @media screen and (max-width: 767px) {
      padding-right: 0;
      margin-bottom: 16px;
    }
  }
  .the-forecast-artile-wrapper {
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    @media screen and (min-width: 768px) {
      -ms-flex: 0 0 calc(100% - #{$the-forecast-title-tab-width});
      flex: 0 0 calc(100% - #{$the-forecast-title-tab-width});
      max-width: calc(100% - #{$the-forecast-title-tab-width});
    }
    @media screen and (min-width: 960px) {
      -ms-flex: 0 0 calc(100% - #{$the-forecast-title-width});
      flex: 0 0 calc(100% - #{$the-forecast-title-width});
      max-width: calc(100% - #{$the-forecast-title-width});
    }

    @media screen and (max-width: 767px) {
      padding-left: 0;
    }

    > a {
      display: block;
    }
  }

  .the-forecast-artile-title {
    margin-top: 16px;
    @media screen and (min-width: 768px) {
      margin-bottom: 12px;
    }
    @media screen and (min-width: 960px) {
      margin-bottom: 24px;
    }
  }
}

.the-forecast-artile-content-wrapper {
  &:hover {
    .btn-link-forward {
      border-bottom-width: 2px;
      border-bottom-color: currentColor;

      &:after {
        right: -1.625rem;
      }
    }
  }
}

/* New Forecast section styling */
.the-forecast-wrapper {
  &.alt {
    background-color: $hero-banner-slick-carousel-bg-color;
    .forecast-title-wrapper {
      padding: 1.25rem 1.875rem 1.25rem 1.25rem;
      color: $secondary-text-color;
      @media screen and (min-width: 768px) {
      }
      @media screen and (min-width: 960px) {
        padding: 4.0625rem;
      }

      h2 {
        letter-spacing: -0.5px;
        line-height: 1.22;
        @media screen and (min-width: 768px) {
          font-size: 2.25rem;
        }
      }
    }
    .page-tags {
      margin-bottom: 1rem;
      a {
        margin: 0;
        &.tag {
          background-color: $new-tag-color-altbg-color;
          border-color: $new-tag-color-altbg-color;
          color: $new-tag-color-text-color;
        }
      }
    }
  }

  @media screen and (max-width: 960px) {
    margin-left: -2rem;
    margin-right: -2rem;
  }

  @media screen and (max-width: 767px) {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }
}
.page-title-tags {
  text-align: center;
  h1 {
    color: $secondary-text-color;
    margin: 1.25rem 0;
    @media screen and (min-width: 960px) {
      margin-bottom: 2rem;
    }
  }
  .page-tags {
    margin-bottom: 1.875rem;
    @media screen and (min-width: 768px) {
      margin-bottom: 2rem;
    }

    .tags-list-more {
      display: none;
    }
  }
}
.page-tags {
  a {
    font-size: 11px;
    display: inline-block;
    margin: 5px;
    border-radius: 4px;
    padding: 4px 15px;
    &.tag {
      color: $natural-text-color;
      background-color: $new-tag-color;
      border: 1px solid $new-tag-color;
      &.viewmore {
        background-color: $natural-text-color;
        color: $new-tag-color-text-color;
        border-color: $new-tag-border-color;

        .less-tag-text {
          display: none;
        }

        &.all-tags {
          .all-tag-text {
            display: none;
          }
          .less-tag-text {
            display: inline;
          }
        }
      }
    }
  }
}
