$primary-color: #f4efea !default;
$secondary-color: #929596 !default;
$light-grey-color: #e9e9e9 !default;
$text-color: #454849 !default;
$secondary-text-color: #3b3c40 !default;
$link-color-new: #827167 !default;
$link-color-light: #a79d97 !default;
$anchor-color: #906549 !default;
$anchor-color-nz: #5c7561 !default;
$danger-color: #d0021b !default;
$style-palette-peach: $primary-color !default;

$hero-banner-slick-carousel-bg-color: #f6f5f4 !default;
$blog-hero-banner-slick-carousel-bg-color: $light-grey-color !default;
$hero-banner-slick-carousel-text-color: $text-color !default;
$hero-banner-slick-carousel-nav-bg-color: $primary-color !default;
$arrow-color: $link-color-new !default;

$collection-card-caption-bg-color: $light-grey-color !default;
$collection-card-caption-text-color: $text-color !default;

$home-newsletter-content-wrapper-section-title-color: $secondary-color !default;

$the-forecast-title-width: 330px !default;
$the-forecast-title-tab-width: 300px !default;

$pagination-size: 34px !default;
$pagination-active-border-color: $link-color-new !default;

$quick-link-text-color: $secondary-text-color !default;
$accordion-border-color: #d5d5d5 !default;
$accordion-text-color: $secondary-text-color !default;

$section-intro-description-text-color: $secondary-text-color !default;

$contact-form-control-text-color: $secondary-text-color !default;

$scandinavian-bg-color: #d0ebe8 !default;
$scandinavian-text-color: $text-color !default;
$industrial-bg-color: #726e66 !default;
$industrial-text-color: #ffffff !default;
$coastal-bg-color: #b98a56 !default;
$coastal-text-color: #ffffff !default;
$hamptons-bg-color: #e1dee1 !default;
$hamptons-text-color: $text-color !default;
$glamour-bg-color: #4a4946 !default;
$glamour-text-color: #ffffff !default;
$vintage-bg-color: #00a4c0 !default;
$vintage-text-color: #ffffff !default;
$mineral-bg-color: #d4a543 !default;
$mineral-text-color: #ffffff !default;
$modern-and-co-bg-color: #e9e9e9 !default;
$modern-and-co-text-color: $text-color !default;
$noir-bg-color: $secondary-text-color !default;
$noir-text-color: #ffffff !default;
$natural-bg-color: #bfa188 !default;
$natural-text-color: #ffffff !default;
$inner-urban-bg-color: #c3c4c5 !default;
$inner-urban-text-color: $text-color !default;
$zen-bg-color: #f6f5f4 !default;
$zen-text-color: $text-color !default;

$inspiration-media-bg-color: #f8f5f1 !default;
$inspiration-nav-text-color: #906549 !default;
$new-tag-color: #9ea498 !default;
$new-tag-color-text-color: #403d3b !default;
$new-tag-color-altbg-color: #e1e4e0 !default;
$new-tag-border-color: #ced2cb !default;

$search-border-color: #c6a590 !default;
$search-placeholder-text-color: $link-color-light !default;
$search-result-text-color: #5f6263 !default;
$search-result-product-bg-color: #fafafa !default;
$quicklinks-bgNZ: #f3f4f2 !default;
$bg-white: #ffffff !default;
$text-white: #ffffff !default;
$text-black: #000000 !default;

$footer-social-icon-border-color: #cccccc !default;
$footer-social-icon-hover-bg-color: #222327 !default;

$footer-mobile-arrow-color: $link-color-light !default;
$footer-top-bg-color: $primary-color !default;
$footer-top-top-padding: 35px !default;
$footer-top-bottom-padding: 20px !default;
$footer-bottom-bg-color: #ffffff !default;
$footer-logo-width: 120px !default;

$form-bg-color: $primary-color !default;

$accordion-active-bg-color: $primary-color !default;

$document-resources-item-divider-color: $style-palette-peach !default;
$document-resources-item-color: $link-color-new !default;
$document-browser-search-btn-width: 109px !default;
$document-browser-search-item-btn-border-color: $link-color-light !default;
$document-browser-search-filter-item-border-color: #e3e3e3 !default;

$search-filter-item-border-color: #f3f4f2 !default;
$search-filter-item-gutter-space: 6px !default;
$search-filter-item-btn-width: 116px !default;
$search-filter-item-size-width: 90px !default;
$search-filter-item-meta-width: 182px !default;
/* Formica brand styles */
$brand-theme-color: #ff0000;
$brand-banner-bg: #f5f5f5;
$brand-button-bg: #f5f5f5;

$white-tooltip-border-color: #d4bbad !default;
