.waterloo-process-wrapper {
  color: $secondary-text-color;

  .our-brand-slider {
    .our-brand-slider-item {
      @media screen and (max-width: 767px) {
        text-align: center;

        > a {
          display: inline-block;
          // padding-right: 0;
        }
      }
    }
  }

  .collection-card-row {
    margin-top: 20px;

    @media screen and (min-width: 768px) {
      margin-top: 70px;
    }
  }

  .tab-accordion-body {
    padding-bottom: 0;

    ul {
      list-style: none;
      padding-left: 0;
    }

    .swatch-tiles {
      > .row {
        margin-bottom: 0;
      }
    }
  }

  &.section-wrapper {
    .section-wrapper {
      margin-bottom: 15px;
    }
  }
}

.field-text {
  h5 {
    text-decoration: none;
  }
}

.order-now-button-wrapper {
  .btn-next-process {
    display: block;
    min-height: 3.125rem;
    width: 100%;
    padding: 0.6875rem 0.9375rem;
    color: #fff;
    background-color: $secondary-text-color;
    background-clip: padding-box;
    border: 1px solid $secondary-text-color;
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.8461538462;
    letter-spacing: 1.3px;
    border-radius: 0.1875rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}
